<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    配置目标类-->
    <bean id="studentDao" class="com.imooc.aop.demo2.StudentDaoImpl"></bean>

<!--    配置前置通知类-->
    <bean id="myBeforeAdvice" class="com.imooc.aop.demo2.MyBeforeAdvice"></bean>

<!--    Spring的AOP产生代理对象-->
    <bean id="studentDaoProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
<!--        配置目标类-->
        <property name="target" ref="studentDao"></property>
<!--        实现的接口-->
        <property name="proxyInterfaces" value="com.imooc.aop.demo2.StudentDao"></property>
<!--        采用拦截的名称-->
        <property name="interceptorNames" value="myBeforeAdvice"></property>
        <property name="optimize" value="true"></property>
    </bean>
</beans>